.background-image {
  background-image: url(../img/contact.jpg);
  box-shadow: inset 0 0 0 1000px #bababa7d;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(5px);
}
  /* Select all form inputs with type text and email and also include (textarea) for subject*/
  form input,
  select,
  textarea {
    /*fixed width*/
    width: 100%;
    /* Rounded borders for inputs*/
    border-radius: 15px;
    /*input text padding*/
    padding: 15px;
    /*space between label and area text*/
    margin: 6px 0 15px 0;
    /*input area border*/
    border: 1px solid #04AA6D;
    /*outline when input is focused*/
    outline: none;
  }

  input[type=text]:focus,
  input[type=email]:focus {
    border: 2px solid #3e8e70;
  }

  textarea:focus {
    border: 2px solid #3e8e70;
  }

  textarea {
    /* Allow the user to resize the textarea, value here is disabled */
    resize: none;
    font-family: sans-serif;
  }

  /* Style the submit button with a specific background color etc */
  form input[type=submit] {
    background-color: #000000;
    /*text color on button*/
    color: white;
    /*size*/
    padding: 12px 20px;
    border-radius: 15px;
    /*remove button border*/
    border: none;
    /*change cursor on hover*/
    cursor: pointer;
    font-size: 20px;
    /*fixed button size*/
    width: 100%;
  }

  /* When moving the mouse over the submit button, change color */
  form input[type=submit]:hover {
    background-color: #17bb7a;
  }

  /* Add a background color and some padding around the form */
  .container {
    /*form border radius*/
    border-radius: 20px;
    background-color: #6ec1a2b8;
    padding: 3px 50px;
    /*fixed container width*/
    width: 30%;
    /*centering*/
    margin: 30px auto;
  }

  /*Contact US text positioning*/
  .form-header {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 2px 2px 12px #000000;
    color: white;
  }

  label{
    color:white;
    text-shadow: 1px 1px 3px #000000;
    }

    textarea{
      height:150px;
    }