  /* Select all form inputs with type text and email and also include (textarea) for subject*/
  form input[type="text"], input[type="email"], select, textarea {
    /*fixed width*/
    width: 100%;
    /*input area border*/
    border: 1px solid #04AA6D;
    /* Rounded borders */
    border-radius: 15px;
    /*input text padding*/
    padding: 15px;
    /*space between label and area text*/
    margin: 6px 0 15px 0;
    /*outline when input is focused*/
    outline: none;
  }

  textarea {
    /* Allow the user to resize the textarea, value here is disabled */
    resize: none;
    font-family: sans-serif;
  }

  /* Style the submit button with a specific background color etc */
  form input[type=submit] {
    background-color: #000000;
    /*text color on button*/
    color: white;
  /*size*/
    padding: 12px 20px; 
    border-radius: 15px;
  /*remove button border*/
    border: none;
  /*change cursor on hover*/    
    cursor: pointer;
    font-size: 20px;
    /*fixed button size*/
    width: 100%;
  }

  /* When moving the mouse over the submit button, change color */
  form input[type=submit]:hover {
    background-color: #17bb7a;
  }

  /* Add a background color and some padding around the form */
  .container {
    /*form border radius*/
    border-radius: 20px;
    background-color: #8ad5b9;
    padding: 20px 50px;
    /*fixed container width*/
    width: 30%;
    /*centering*/
    margin:30px auto;
  }
  
  /*Contact US text positioning*/
  .form-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
