.background-image {
  background-image: url(../img/work.jpg);
  box-shadow: inset 0 0 0 1000px #bababa7d;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(5px);
}

.main {
  display: flex;
  /*main axis <<>>*/
  /*the direction is row*/
  justify-content: center;
  /*minus the navbar height from the body*/
  height: calc(100vh - 60px);
}

/*logo in first section*/
.description img {
  height: 100px;
  filter: invert(100%) drop-shadow(2px 2px 2px black);
}

.description {
  display: flex;
  /*Main Axix لفوق ولتحت*/
  justify-content: center;

  /*Axis for column is <<>>*/
  align-items: center;
  /*≡*/
  flex-direction: column;
}

.description .main_title {
  color: #83dfb3;
  text-shadow: 2px 2px 3px #000000;
}

.description .sub_title {
  text-shadow: 4px 3px 4px #000000;
  ;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.5;
}

/*the section*/
.about {
  height: 100vh;
  display: flex;
  background-color: #c3e6dd;
}

.contact {
  height: 100vh;
  display: flex;
  background-color: #b1dbd0;
}

/*The left sections*/
.about-title,
.contact-title {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/*the right sections*/
.about-pages,
.contact-pages {
  width: 50%;

}

/*text in right sections*/
.about-pages div,
.contact-pages div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*right pages heads*/
.about-pages div h2,
.contact-pages div h2 {
  color: black;
  font-size: 30px;
}

/*the p of right pages*/
.about-pages div p,
.contact-pages div p {
  /*make the p a lil smaller, look first one*/
  width: 80%;
  font-size: 20px;
  line-height: 30px;
  color: white;

}

/*first right section color*/
.about-pages div:nth-child(1) {
  background-color: #91d3c2;
}

/*second right section color*/
.contact-pages div:nth-child(1) {
  background-color: #67cbb1;
}

footer {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a3e9d7;
}

/*prof's text*/
.bot {
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 20px;
}

/*second right section p*/
.contact-pages div p:hover {
  color: #ffffff;
  font-weight: bold;
}

.contact-pages a {
  text-decoration: none;
}