.background-image {
  background-image: url(../img/jobs.jpg);
  box-shadow: inset 0 0 0 1000px #bababa7d;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(5px);
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px #000000;
  font-weight: normal;
}

/*main table styles*/
table {
  /*removing the borders between the cells*/
  border-collapse: collapse;
  /*table shadow*/
  box-shadow: 0 6px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
  width: 70%;
  height: 60%;
  border-radius: 30px;
  overflow: hidden;
}

/*cells size*/
th,
td {
  padding: 25px 20px;
}

/*styling of the row heads*/
thead tr {
  font-size: 22px;
  background-color: rgb(0 152 121 / 50%);
  color: #ffffff;
  text-align: center;
}

/*body of the sub heads*/
tbody tr {
  text-align: center;
  /*make a border between every row*/
  border-bottom: 1px solid #dddddd;
  font-size: 16px;
}


/*nth-of-type selector changes the even cell's color*/
tbody tr:nth-of-type(even) {
  background-color: rgb(127 206 177/50%);
  color: white;
}

/*nth-of-type selector changes the odd cell's color*/
tbody tr:nth-of-type(odd) {
  background-color: rgb(243 243 243/50%);
}

/*selector changes the props of the last element of its parent*/
tbody tr:last-of-type {
  border-bottom: none;
}

/*hovering over the row*/
tbody tr:hover {
  color: #2d7163;
}

button {
  border-radius: 25px;
  color: white;
  padding: 12px 40px;
  font-size: 16px;
  border: none;
  background: #009879;
  /*for smaller screens*/
  white-space: nowrap;
}

/*hovering over details button*/
button:hover {
  cursor: pointer;
  background: #4dbda7;
  transform: scale(1.1);
}

a{
  color:white;
}