header {
  /*the header will stay on screen as you scroll*/
  position: sticky;
  /*space from top of screen*/
  top: 0;
  /*define the header's priority above other layers*/
  z-index: 1;
  /*header shadow*/
  /*h-offset, v-offset, blur, spread, color*/
  box-shadow: 0px 2px 2px 3px #009879;
  height: 80px;
  background-color: #282A35;
  /*prevent line break between icon and text*/
  white-space: nowrap;
  /*flex for ul*/
  display: flex;
  /*vertically align tabs*/
  align-items: center;
  margin-bottom: 70px;
}

header ul {
  /*make the ul list less wide than the header*/
  width: 85%;
  /*making the ul flex so we can use the justify content*/
  display: flex;
  /*content of ul goes to the right end*/
  justify-content: flex-end;
  /* some margins to the right*/
  margin-right: 160px;
  /*make a gap between lists, (we need flex)*/
  /*gap: row-gap column-gap;*/
  gap: 0 20px;  
}

header li {
  /*put ul items next to each other*/
  display: inline-block;

  /*removing the ul bullets*/
  list-style: none;
}

/*align the icons of tabs to middle*/
.material-icons {
  vertical-align: middle;
}

/*links color*/
header a {
  border-radius: 30px;
  color: #ffffff;
  /*the padding of links*/
  padding: 12px 30px;
  text-decoration: none;
  font-size: 20px;

}

/*change color when hovering over the link*/
header a:not(.github):hover {
  background-color: #ddd;
  color: black;
}

/*color of the active tab in the navbar*/
header a.active {
  background-color: #009879;
  color: white;
}

/*header logo position*/
header img {
  height: 60px;
margin-left: 150px;}

