html {
  scroll-behavior: smooth;
}

/*remove the ul's bullets, the default is list-items for display*/
header *{
  display: inline;
}

header {
  /*the header will stay on screen as you scroll*/
  position: sticky;
  top: 0;
  /*define the header's priority above other layers*/
  z-index: 1;
  /*header shadow
  h-offset, v-offset, blur, spread, color*/
  background-color: #282A35;
  /*prevent line break between icon and text*/
  white-space: nowrap;
  /*flex for ul*/
  display: flex;
  /*vertically align tabs*/
  align-items: center;
  /*tabs on the right*/
  justify-content: space-between;
  box-shadow: 0px 2px 2px 3px #009879;
  height: 60px;
}

/*header logo position*/
.logo{
  margin-left:80px;
}

header img{
  height:60px;
}

ul{
  margin-right:30px;
}

/*space between tabs*/
header li {
  margin: 5px;
}

/*links color*/
header li a{
  border-radius: 20px;
  color: #ffffff;
  /*links size padding*/
  padding: 6px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header li a{
  transition: 0.4s;
}

/*change color when hovering over the link*/
header li a:not(.logo):hover {
  background-color: #ddd;
  color: black;
}

/*color of the active tab in the navbar*/
header a.active{
  background-color: #009879;
  color: white;
}

/*align the icons of tabs to middle*/
.material-icons {
  vertical-align: middle;
}

