.background-image {
  background-image: url(../img/sent.jpg);
  box-shadow: inset 0 0 0 1000px #bababa7d;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(5px);
}

/*button color*/
button {
  background: #000000;
  color: white;
  border-radius: 20px;
  padding: 9px 15px;
  border: none;
  font-size: 16px;
}

a{
  color: white;
  text-decoration: none;
}

/*Button color when hovered*/
button:hover {
  background: #04AA6D;
  transform: scale(1.1);
  cursor: pointer;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px);
}

.container{
  max-width: 450px;
  margin: auto;
  padding: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #ffffff89;
  border-radius: 30px;
}

h1{
  font-family: Roboto;
}