body {
  /*specifiy page height and make it scrollable*/
  height: 125vh;
  background-color: #c3e6dd;
  font-family: sans-serif;
  margin: 0;

  /*
  background-size: cover;
  background-image: url('../img/pattern2.jpg');
  background-repeat: repeat;
  */
}

