body {
  /*specifiy page height and make it scrollable*/
  height: 125vh;
  background-color: white;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  
  /*
  background-image: url('../img/pattern.png');
  background-repeat: repeat;
  background-size: contain;
  */
}

